.categoryBtn{
    background-color: salmon;
    border: 1px solid salmon;
    margin: 5px;
    padding: 10px;
}

.gridFood{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}


.foodImg{
    width: 200px;
    height: 200px;
    text-align: left;

}

.wishListItem{
    width: 100px;
    height: 200px;
}

.wishListImg{
    width: 100px;
    
}

.wishListBtn{
    border: 1px solid gray;
    color: white;
    background-color: palevioletred;
    padding: 8px 15px;
    border-radius: 10px;
}

.divBorder{
    border: 1px solid #eee9e9;
    padding: 10px 10px;
    margin: 10px 0;
}

.wishListContainer{
    display: flex;
    justify-content: left;
    gap: 10px;
}


.removeWishListBtn{
    border: 3px solid slateblue;
    background-color: salmon;
    padding: 5%;
    margin: 5px;
    position: absolute;
    top: -5px;
    right:-5px;
    font-weight: 700;
}